body{
    margin: 0px;
    font-size: 22px;  
}
#cabecera{
    position: fixed;
    width: 100%;
    z-index: 10000;
}
#menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #DF6127;
    z-index: -3;
}
#menu li{
    text-align: center;
    flex-grow: 1;
    padding: 20px 5px 3px 15px;
    z-index: 0;
}
#menu li a{
    display: block;
    color: white;
    text-decoration: none;
    
}

#menu li:hover{
    background-color: #FFFFF8;
}
#menu li:hover a{
    color:#0F1E32;
}
#icon{
    margin-left: 5%;
}
.padre:hover li{
    display: block;   
    
}
.padre:hover li{
    background-color: #DF6127;
    color: #FFFFF8;
    
}
.submenu li{    
    display: none;
    border: 1px solid #DF6127;
    box-sizing: border-box;
     z-index: 10000;

    margin: 0;
}
.submenu{        
    position: absolute;
    flex-direction: column;    
    width: 18.5%;
    left: 33.5%;
    top: 77px;
    z-index: 10000;
    
    
}
#cuerpo{
    margin-top: 80px;
    height: 100vh;  
    position: fixed;
    width: 100%;
    overflow: scroll;
}