
   <div  ng-controller="PrincipalController" style="overflow: scroll">
    <div id="banner">
    <i id="felchaIzq"class="fas fa-chevron-circle-left"></i>
    <i id="flechaDer" class="fas fa-chevron-circle-right"></i>
 <!--   <center><i class="far fa-circle" style="color: white;position: absolute;float: left;margin-left: 50px;" ng-repeat="punto in puntos" ng-click="punto.estado=true"></i></center>-->
    <img  src="../img/banne1.jpg" alt="">
    <h1 class="titulo">Ultimas Pujas</h1>
    </div>
    <!--<i class="fas fa-circle"></i>-->
    <div id="contenido">
       <article class="subasta" ng-repeat="producto in productos">
           <img src="{{producto.imagen}}" alt="">
           <h1>{{producto.producto}}</h1>
           <h2>{{producto.lugar}}</h2><br>
           <ul>
               <li class="mlis">Precio: S/{{producto.precio}}</li>
               <li class="mlis">Tiempo : {{producto.tiempo}}</li> 
           </ul>
       </article>
    </div>

   </div>
