<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
    <link rel="stylesheet" href="../Content/estiloPrincipal.css">
</head>
<body style="height: 100%">
    <div id="contenido" style="overflow: scroll">
       <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li> 
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> <article class="subasta">
           <img src="../img/producto1.jpg" alt="">
           <h1>Producto 1</h1>
           <h2>Villa Maria</h2><br>
           <ul>
               <li class="mlis">Precio : S/100 soles</li>
               <li class="mlis">Tiempo : 2:03:13</li>  
           </ul>
       </article> 
    </div>
</body>
</html>